.nav-container{
    background-color: rgb(42, 39, 39);
    margin: -8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    text-decoration: none;
    color: white;
    margin: 10pxpx;
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal; 
    margin: auto 5px auto 15px;
}

.nav-links:hover{
    color: gray;
}

.nav-logo{
    color: white;
    display: inline-flex;
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
    display: inline;
    margin-left: 10px;
}

/* .nav-child{
} */

.nav-child2{
    display: flexbox;
}

body{
    background-color: rgb(67, 61, 61);
}

.resumen{
    color: rgb(243, 235, 235);
    margin: 0 auto;
    margin-top: 50px;
}